@mixin flex($content){
    display: flex;
    align-items:center;
    justify-content: $content;
}
$iconHover :#717fe0;
$hoverEffect : all 0.5s ease 0s;
$font1 : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;